*
{
font-size:2vw;
font-family:Poppins;
}


body
{
background-image:url("p2.jpg");
background-repeat:no-repeat;
background-size:cover;

}

h1
{
margin:30px;
background-color:#0A454C;
border-radius:30px;
color:white;
width:30%;
}
h2{

text-align:center;

border:solid #0A454C;
width:80%;
border-radius:20px;

background-color:white;
opacity:55%

}

.btn{
background-color:#0A454C;
border-radius:10px;
border-color:white;
color:white;



}
.btn:hover{
background-color: #3b6a6f;
}
